body { 
    background-color: #f7f7ee; 
  }
h1{
    color: #17706e;
  }
h3{
    color: #17706e;
  } 
hr {
      background-color: #f7f7ee;
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%;
      
  }